.banner {
  color: white;
  object-fit: contain;
  /* height: 480px; */
}
.banner__contens {
  margin-left: 30px;
  padding-top: 140px;
  height: 190px;
  margin-bottom: 140px;
}
.banner__title {
  font-size: 3rem;
  font-weight: 800;
  padding-bottom: 0.3rem;
}
.banner__description {
  width: 45rem;
  font-size: 0.8rem;
  line-height: 1.3rem;
  padding-top: 1rem;
  max-width: 370px;
  height: 80px;
}
.banner__button {
  padding-left: 2rem;
  padding-right: 2rem;
  padding-top: 0.5rem;
  padding-bottom: 0.5rem;
  margin-right: 1rem;
  cursor: pointer;
  border: none;
  outline: none;
  background-color: rgba(51, 51, 51, 0.5);
  font-weight: 700;
  color: #fff;
  border-radius: 0.2vw;
}
.banner__button:hover {
  background-color: white;
  color: black;
  transition: all 0.2s;
}
.banner__fadeBottum {
  height: 7.8rem;
  background-image: linear-gradient(
    180deg,
    transparent,
    rgba(37, 37, 37, 0.61),
    #111
  );
  display: block;
}
